.webProjects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0px 15%;
    margin-bottom: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    gap: 20px;



}