@use '/src/Assets/sass/variables';
@use '/src/Assets/sass/mixins';

.projectText{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    &__text{
        @include mixins.standardText;
        margin-bottom: 20px;
    }
    &__title{
        @include mixins.projectSubtitle;
        align-self: flex-start;
    }
    @media screen and (max-width: variables.$screenWidth_mobile){
        width: 80%;
        &__text{
            width: 100%;
        }
    }
}