.projectCard{
    position: relative;
    flex: 0 0 auto;
    min-width: 600px;
    height: 320px;
    overflow:hidden;
    border-radius: 10px 10px 60px 60px;
    transition: all 0.4s;
    user-select: none;
    cursor: grab;

    &:focus-visible{
        outline: cyan solid 10px;
    }
    &:hover{
        border-radius: 10px 10px 20px 20px;
        & .projectCard__title{
            opacity: 1;
            bottom: -30px;
        }
    }

    &__title{
        opacity: 0;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 550px;
        bottom: -100px;
        color: white;
        z-index: 2;
        pointer-events: none;
        font-size: 58px;
        transition: all 0.5s;
    }

    &__image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.8s;

        &:hover{
            transform: scale(1.2) translateY(-20px);
            filter: blur(4px);
        }
    }
    &-jsDisabled{
        pointer-events: none;
        cursor: grabbing;
    }
}