.project{
    background-color: black;
    color: white;    
}

.horizontalContainer{
    display: flex;

    &__text{
        color: white;  
        width: 1000px;
    }
    &__image{
        object-fit: cover;
        width: 30%;
        height: 1000px;
    }
}