@use "/src/assets/sass/loader.scss";

.webProjectCard{
    @include loader.anim-slideFromHeight(300px,1.5s,1);
    @include loader.mixin-cardTitle(black, -50px, 40px);

    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    right: 0px;
    transition: all 0.5s;

    &__image{
        object-fit: cover;
        width: 350px;

    }

    &__techIcons{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        position: absolute;
        margin: 0 50px;
        top: 0px;
        opacity: 0;

        transition: all 0.5s;

        &__icon{
            width: 64px;
            height: 64px;
        }
    }

    &:hover{
        .webProjectCard{
            &__title{
                opacity: 1;
                bottom: 10px;
            }
            &__techIcons{
                opacity: 1;
                top: 25px;
                transition: all 0.5s;
            }
        }
    }
}