.pixelGrid{
    display: grid;
    margin: auto;
    margin-bottom: 50px;
    max-width: 80%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 400px;
    gap: 10px;

    &__static{
        &-1{
            grid-column-start: 1;
            grid-column-end: 3;
        }
        &-4{
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 4;
        }
        &-10{
            grid-column-start: 4;
            grid-column-end: 6;
            grid-row-start: 3;
            grid-row-end: 3;
        }
        &-13{
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 4;
            grid-row-end: 6;
        }
        &-18{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 6;
            grid-row-end: 7;
        }
        &-19{
            grid-column-start: 4;
            grid-column-end: 6;
            grid-row-start: 5;
            grid-row-end: 7;
        }
    }
    &__anim{
        &-1{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
        }
        // grimm
        &-3{
            grid-column-start: 4;
            grid-column-end: 6;
            grid-row-start: 1;
            grid-row-end: 3;
        }
        // playerBoat
        &-4{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 5;
        }
        //merc
        &-5{
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 3;

        }
        // shopkeeper
        &-6{
            grid-column-start: 4;
            grid-column-end: 6;
            grid-row-start: 4;
            grid-row-end: 5;
        }
        // arachnophobia
        &-8{
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 3;
            grid-row-end: 4;
        }
    }
}