@use '/src/Assets/sass/variables';

.cta{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    background-color: variables.$color-main;
    border-radius: 10px;
    margin-top: 20px;
    min-width: 200px;
    max-width: 300px;
    gap: 20px;
    padding: 20px;
    height: 75px;

    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    transition: all 0.5s;

    &:focus-visible, &:hover{
        background-color: variables.$color-secondary;
        color: black;
        border-radius: 30px;
        transform: translateY(-10px);
        box-shadow: 0px 10px 10px 0px #0000007d;        
        transition: all 0.5s;
        .cta__icon{
            filter: brightness(0);
            transition: all 0.5s;
        }
    }
    &__icon{
        width: 45px;
        height: 45px;
        transition: all 0.5s;
    }
}