@use 'src/assets/sass/variables';

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: variables.$color-main;
    position: sticky;
    height: 75px;
    top:0;
    z-index: 10;

    &__link{
        box-sizing: border-box;
        text-decoration: none;
        padding: 20px;
        width: 150px;
        height: 75px;

        background-color: variables.$color-main;
        color: white;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        transition: all 0.5s;

        &-current{
            background-color: variables.$color-secondary;
            height: 90px;
            color: black;
        }

        &:focus-visible, &:hover{
            background-color: variables.$color-secondary;
            transition: all 0.5s;
        }
    }
    &__logo{
        position: absolute;
        left:10px;
        top: 10px;
        &__image{
            height:50px;
        }
    }
    @media screen and (max-width: variables.$screenWidth_mobile) {
        position: static;
        margin-top: 10px;
        height: auto;
        background-color: white;
        flex-wrap: wrap;
        gap: 20px;
        &__link{
            font-size: calc(14px + 2vw);
            height: 75px;
            width: 45%;
            padding: 25px;
        }
        &__logo{
            display: none;
        }
    }
}