@use 'src/assets/sass/mixins';

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title{
    font-size: 50px;
    margin-top: 35px;
    margin-bottom: 20px;
  }
  &__text{
    @include mixins.standardText;
    margin-bottom: 10px;
  }
}