.webProject{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: solid rgb(155, 155, 155);
    &__title{
        margin-top: 80px;
        font-size: 40px;
    }
    &__container{
        width: 75%;
        display: flex;
        &-row{
            flex-direction: row;
            align-items:flex-start;
            object-fit: contain;
            flex:1;
        }
    }
}