.webProject{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: solid black;
    margin-top: 20px;
    &__title{
        font-size: 50px;
    }
    &__container{
        display: flex;
        &-row{
            flex-direction: row;
            align-items: flex-start;
            object-fit: contain;
            flex:1;
        }
    }
}