@use'/src/Assets/sass/variables';
.webProject{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    border-top: solid rgb(155, 155, 155);
    &__title{
        margin-top: 50px;
        font-size: 40px;
        text-align: center;
    }
    &__container{
        width: 75%;
        display: flex;
        &-row{
            flex-direction: row;
            align-items:flex-start;
            object-fit: contain;
            flex:1;
            &__title{
                align-self: flex-end;
            }
            @media screen and (max-width: variables.$screenWidth_mobile){
                flex-direction: column;
                align-items: center;
                width: 100%;
            }

        }
    }
}