.projectSlider{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 20px 80px;
    padding-bottom: 20px;
    margin-bottom: 60px;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    cursor: grab;
    scrollbar-width: thin;
    scrollbar-color: black white;
    scroll-margin: 100px;

    &.-jsActive{
      cursor: grabbing;
    }
}