.projectSlider{
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    cursor: grab;

    &::-webkit-scrollbar {
        display: none;
      }
    &.-active{

    }
}