@mixin slideFromSide($distance:null, $duration:null, $opacity:null){
    animation-name: animation-slideFromSide;
    animation-duration: $duration;
    animation-fill-mode:forwards;

    @keyframes animation-slideFromSide{
        0%{
            transform: translateX($distance);
            opacity: $opacity;
        }
        50%{
            transform: translateX(0);
        }
        100%{
            opacity: 1;

        }
    }
}

@mixin slideFromHeight($distance:null, $duration:null, $opacity:null){
    animation-name: animation-slideFromHeight;
    animation-duration: $duration;
    animation-fill-mode:forwards;

    @keyframes animation-slideFromHeight{
        0%{
            transform: translateY($distance);
            opacity: $opacity;
        }
        70%{
            transform: translateY(0);
        }
        100%{
            opacity: 1;

        }
    }
}