@use './variables';

@mixin standardText{
    box-sizing: border-box;
    width: 50%;
    font-size: 20px;
    text-align: justify;
    line-height: 30px;
}

@mixin cardTitle ($textColor, $startPosition, $fontSize){
    &__title{
        position: absolute;
        bottom: $startPosition;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        color: $textColor;
        font-weight: 700;
        font-size: $fontSize;
        text-align: center;
        user-select: none;
        pointer-events: none;
        z-index: 2;

        opacity: 0;
        transition: all 0.5s;
    }
}
    
@mixin projectSubtitle{
    font-size: 28px;
    margin-top: 50px;
    padding-left: 18px;
    border-left: 8px solid variables.$color_secondary;
}