@mixin text_standard{
    box-sizing: border-box;
    width: 600px;
    font-size: 18px;
    text-align: justify;
    line-height: 30px;
}

@mixin card_title ($textColor, $startPosition, $fontSize){
    &__title{
        position: absolute;
        bottom: $startPosition;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        color: $textColor;
        font-weight: 700;
        font-size: $fontSize;
        text-align: center;
        user-select: none;
        pointer-events: none;
        z-index: 2;

        opacity: 0;
        transition: all 0.5s;
    }
}