@mixin slideFromSide($distance, $duration, $opacity){
    animation-name: animation-slideFromSide;
    animation-duration: $duration;
    animation-fill-mode:forwards;

    @keyframes animation-slideFromSide{
        0%{
            transform: translateX($distance);
            opacity: $opacity;
        }
        50%{
            transform: translateX(0px);
        }
        100%{
            opacity: 1;
        }
    }
}